.container {
  margin: 30px 0;
}
.sidebar p {
  margin-bottom: 3px;
}
.comments {
  margin: 20px 0;
}
.comment {
  padding: 15px 0;
  border-top: 1px solid lightgrey;
  border-bottom: -1px solid lightgrey;
}
.comment:last-child {
  border-bottom: 1px solid lightgrey;
}
